<h1 class="mb-4">Categories</h1>

<!-- Categories -->
<div class="row g-4 mb-5">
  <% @categories.each do |category| %>
    <div class="col-6 col-md-3">
      <%= link_to category.name, category_path(category), class: "category-tile d-block text-center py-4 px-2" %>
    </div>
  <% end %>
</div>

<!-- Filter Controls -->
<div class="row mb-4">
  <div class="col-md-6">
    <%= form_with url: categories_path, method: :get, local: true do |f| %>
      <div class="input-group mb-2">
        <%= f.label :category_id, "Filter by Category", class: "input-group-text" %>
        <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), { include_blank: "All" }, class: "form-select" %>
        <%= f.submit "Apply", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= form_with url: categories_path, method: :get, local: true do |f| %>
      <div class="input-group mb-2">
        <%= f.label :tag_id, "Filter by Tag", class: "input-group-text" %>
        <%= f.select :tag_id, options_from_collection_for_select(@tags, :id, :name, params[:tag_id]), { include_blank: "All" }, class: "form-select" %>
        <%= f.submit "Apply", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>

<!-- Products -->
<h2 class="mb-4">All Products</h2>
<div class="row g-4">
  <% @products.each do |product| %>
    <div class="col-6 col-md-4 col-lg-3">
      <%= render partial: "products/product", locals: { product: product } %>
    </div>
  <% end %>
</div>


<!-- Pagination (moved outside the loop) -->
<div class="mt-4">
  <%= paginate @products %>
</div>
